<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= club.club_name %> Details</title>
  <link rel="stylesheet" type="text/css" href="/styles/clubstyles.css">
</head>
<body>
  <div class="container">
    <header class="header">
      <h1 class="club-title"><%= club.club_name %></h1>
    </header>
    <div class="info">
      <div class="club-info">
        <p><strong>Type:</strong> <%= club.type %></p>
        <p><strong>Club Description:</strong> <%= club.description %></p>
        <p><strong>Meeting Info:</strong> <%= club.meet_info %></p>
        <p>
          <strong>Click here for more info:</strong> 
          <a href="https://docs.google.com/spreadsheets/d/1pHWVTkt4caD2Lk5HxjySXDmKmnweBhGaidKeI7rs5jE/edit?gid=1341007924#gid=1341007924" target="_blank">
            Link
          </a>
        </p>        
      </div>
      <div class="back">
        <a href="/">Back to Homepage</a>
      </div>
    </div>
  </div>

  <footer class="footer">
    <p>The NMH Clubs Database is proudly brought to you by Hogger News.</p>
    <P>This is a student created web application in its beta stage. Please report any bugs or issues to hoggernews@nmhschool.org.</P>
    <p>© Hogger News | NMH TV | news for students by students</p>
  </footer>
</body>
</html>